doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Home
    body 
        a(href="/home") Home
        a(href="/users") Users
       
        if !login
            a(href="/register") Register
            a(href="/login") Login
        
        else
            a(href="/orders") OrderForm 
            a(href="/users/" + userID)  UserInfo
            a(href="/logout")    Logout
        
        h2 Welcome to the Restaurant Ordering System